#mainlogindiv {
    background-image: url(/images/loginbackground.jpg);
    width: 1330px;
    height: 635px;
}

#LogInLabel {
    font-size: 50px;
}

#UsernameLogInLabel {
    font-size: 30px;
}

#PasswordLogInLabel {
    font-size: 30px;
}

#UsernameLogInTextBox {
    font-size: 30px;
}

#PasswordLogInTextBox {
    font-size: 30px;
}

#LogInButton {
    font-size: 30px;
}

#StatusLogInLabel {
    font-size: 30px;
}

#logindiiv {
    width: 500px;
    height: 400px;
    margin-left: 400px;
    margin-top: 15px;
    border-color: black;
    border-style: double;
}

#LogInLabeldiv {
    margin-left: 164px;
}

.LogInLabelcss {
    color: #3b3a30;
}

#UsernameLogInLabeldiv {
    margin-top: -50px;
    margin-left: 55px;
}

.UsernameLogInLabelcss {
    color: #3b3a30;
}

#UsernameLogInTextBoxdiv {
    margin-left: 55px;
    margin-top: -15px;
    width: 340px;
    height: 34px;
}

.UsernameLogInTextBoxcss {
    width: 340px;
    height: 34px;
    background-color: #e6e2d3;
}

#PasswordLogInLabeldiv {
    margin-top: -30px;
    margin-left: 55px;
}

.PasswordLogInLabelcss {
    color: #3b3a30;
}

#PasswordLogInTextBoxdiv {
    width: 340px;
    height: 34px;
    margin-left: 55px;
    margin-top: -15px;
}

.PasswordLogInTextBoxcss {
    width: 340px;
    height: 34px;
    background-color: #e6e2d3;
}

#LogInButtondiv {
    margin-top: -190px;
    margin-left: 100px;
    border-color: #3b3a30;
    border-style: double;
}

.LogInButtoncss {
    width: 250px;
    height: 45px;
    background-color: transparent;
    color: white;
}

#gobackhome {
    margin-left: 1190px;
    margin-top: -110px;
    height: 40px;
    width: 110px;
    border-color: #3b3a30;
    border-style: double;
}

.GobackhomeButtoncss {
    height: 40px;
    width: 110px;
    color: white;
    background-color: transparent;
    font-size: 30px;
}


